In [71]:
# dependecies and set up
import pandas as pd

# load files
schools_complete = "schools_complete.csv"
students_complete = "students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data= pd.read_csv(schools_complete)
student_data= pd.read_csv(students_complete)

# Combine the data into a single dataset.
school_data_completed = pd.merge(student_data, school_data, on = "school_name", how="outer")
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [90]:
# total number of unique schools

school_count= len(school_data["school_name"].unique())
print(school_count)

15

In [94]:
# total students
total_students= school_data_completed["student_name"].sum
print(total_students)

<bound method Series.sum of 0             Paul Bradley
1             Victor Smith
2          Kevin Rodriguez
3        Dr. Richard Scott
4               Bonnie Ray
               ...
39165         Donna Howard
39166            Dawn Bell
39167       Rebecca Tanner
39168         Desiree Kidd
39169      Carolyn Jackson
Name: student_name, Length: 39170, dtype: object>

In [96]:
# total budget
total_budget = school_data_completed["budget"].sum()
print(total_budget)

82932329558

In [101]:
# average math score
Average_math_score = school_data_completed["math_score"].mean()
print(Average_math_score)

78.98537145774827

In [102]:
# average reading score
Average_reading_score = school_data_completed["reading_score"].mean()
print(Average_reading_score)

81.87784018381414

In [ ]:
# % passing math (the percentage of students who passed math)

School passing

In [ ]:
# % passing reading (the percentage of students who passed reading)

In [ ]:
# % overall passing (the percentage of students who passed math AND reading)